@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* general text formatting */

h1,
h2,
h3,
nav,
footer {
    font-family: Lobster, Cambria, 'Times New Roman', serif;
}
body {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: #e8eaf6;
}

/* header and navigation */

header,
footer {
    color: white;
    background-color: #1a237e;
    margin: 0em 4em 0.25em 4em;
}
header h1 {
    padding: 0.5rem 0 0 1.25rem;
    font-size: 2rem;
    font-weight: bold;
}
header p {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
    padding: 0 0 0 1.25rem;
}

/* main article styling */
main {
    background-color: white;
    margin: 1em 4em 1em 4em;
    padding: 1em;
}

section {
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}

legend {
    font-size: 1.35rem;
    background-color: #7986cb;
    height: 1.7rem;
    color: #e8eaf6;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

fieldset {
    margin: 0;
    padding: 0;
    background-color: #c5cae9;
    width: 100%;
    border: none;
}
form p {
    margin: 0.5em 0em 0.5em 0.5em;
}

#title,
#continent,
#country,
#city {
    width: 50%;
    height: 25px;
}

#title,
#description {
    width: 95%;
}

table {
    width: 100%;
}

.form-section {
    width: 50%;
}

.form-border {
    border: solid 1pt #a7b2ec;
    margin: 0px 3px 5px 0px;
}

.accept {
    background-color: #a7b2ec;
    padding: 0.2em;
}

#continent,
#country,
#color,
#date,
#time,
button {
    cursor: pointer;
}

button {
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: rgba(238, 20, 129, 0.897);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: none;
}

button:hover {
    opacity: 0.8;
    transform: scale(0.98);
}
