body {
    font-size: 100%;
    background-color: #eceff1;
}

article {
    margin: 1em 4em 1em 4em;
    padding: 1em;
}

#mainMenu ul {
    text-align: right;
    margin-right: 4em;
}

#secondaryMenu ul {
    margin-left: 4em;
}

li {
    display: inline;
    margin-right: 5px;
}

a {
    color: #03a9f4;
}

a:hover {
    color: #ede7f6;
    background-color: #ff3d00;
}

article div {
    background-color: white;
    padding-top: 5px;
    /* text-align: center; */
}

article > div {
    text-align: center;
}

article div h2 {
    font-size: 20px;
}

article div img {
    border: 1px solid black;
    padding: 5px;
}

h1,
article h3 {
    /* background-image: url('/Labs/Lab2/images/header-background.png'); */
    background-image: url(../images/header-background.png);
    color: white;
}

h1 {
    background-color: black;
    font-size: 30px;
}

span {
    color: rgb(226, 79, 79);
    margin-left: 2em;
}

#mainMenu {
    background-color: #263238;
    width: 100%;
    height: 25px;
}

#secondaryMenu,
.actions {
    background-color: #607d8b;
    padding-top: 1em;
}

article div h2 {
    margin-bottom: 1em;
}

.actions ul {
    height: 35px;
}

section {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 1em;
}

article h3,
p {
    padding: 0.5em 0em 0.5em 0.5em;
}

article p em {
    font-family: 'Roboto', sans-serif;
}

.actionEdit,
.actionFlag {
    color: white;
    margin-left: 0.5em;
    margin-top: 0.5px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

a[href^='mailto'] {
    background: url(../images/email.png) no-repeat 0 3px;
    padding-left: 1em;
}

a[href^='tel'] {
    background: url(../images/call.png) no-repeat 0 3px;
    padding-left: 1em;
}

.actionEdit {
    background: #ff3d00 url(../images/edit.png) no-repeat 6px 6px;
    padding-left: 1.5em;
}

.actionFlag {
    background: #ff3d00 url(../images/flag.png) no-repeat 6px 6px;
    padding-left: 1.5em;
}

.actionFlag:hover,
.actionEdit:hover {
    opacity: 0.8;
}

article section img {
    width: 100%;
}

footer {
    background-color: #263238;
}

footer p {
    margin-left: 4em;
    color: white;
}
